@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 600px;
    margin: 20px;
    border-collapse: collapse;
}

thead th {
    color: #fff;
    background-color: rgb(120, 120, 120);
}

th,
td {
    height: 30px;
    padding: 10px;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
}