@charset "UTF-8";

/* Todas as demais mídias */

/*
Typical Device Breakpoints:

Celular: 600px a 768px
Tablet: 769px a 992px
Desktop: 993px a 1200px
Grandes telas: acima de 1200px
*/

@media print {
    * {
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        background-image: url(../imagens/back-print.jpg);
    }

    main {
        border: 2px solid black;
    }

    main::after {
        contain: 'Essa impressão foi feita através do site www.cursoemvideo.com';
        text-decoration: overline;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }

    img#phone,
    img#tablet,
    img#print,
    img#pc,
    img#tv {
        display: none;
    }

    img#tablet {
        display: block;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }

    img#phone,
    img#tablet,
    img#print,
    img#pc,
    img#tv {
        display: none;
    }

    img#pc {
        display: block;
    }
}

@media screen and (min-width: 1201px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }

    main {
        width: 700px;
    }

    img#phone,
    img#tablet,
    img#print,
    img#pc,
    img#tv {
        display: none;
    }

    img#tv {
        display: block;
    }
}